.strats {
    background-color: black;
}

.strat-page {
    padding: 7vh 12vw;
    font-family: 'Inter', sans-serif;
}

.strat-title {
    color: #75CAFF;
    font-size: 70pt;
    font-weight: bold;
}

.main-text{
    color: #FFFFFF;
    font-size: 18pt;
}

.sub-header {
    font-size: 50pt;
    color: #FFFFFF;
    font-weight: bold;
}

.chart-container {
    text-align: center;
}

.disclaimer {
    color: #ffffffb7;
}

.strat-links {
    color: #75CAFF;
}